/* line 12, ../sass/main.scss */
html, body {
  width: 100%;
}

/* line 15, ../sass/main.scss */
a, p, i, h2, h3 {
  font-family: 'Montserrat';
}

/* line 18, ../sass/main.scss */
h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 9px;
  margin-top: 18px;
  margin-bottom: 18px;
}

/* line 26, ../sass/main.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 30, ../sass/main.scss */
li {
  display: inline-block;
}

/* line 33, ../sass/main.scss */
li a {
  font-family: 'Muller Extra_Bold', sans-serif;
  font-size: 13.431px;
  text-transform: uppercase;
}

/* line 38, ../sass/main.scss */
li {
  position: relative;
}

/* line 41, ../sass/main.scss */
li .hr {
  position: absolute;
  left: -45px;
  top: 8px;
  width: 32px;
  height: 1px;
  background-color: #b8a47e;
}

/* line 47, ../sass/main.scss */
li .round {
  position: absolute;
  top: 8px;
  right: -10px;
  background-color: #b8a47e;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

/* line 56, ../sass/main.scss */
.big-img-left, #section-1 #voyager-daypack .pic {
  width: 65%;
  float: left;
}

/* line 60, ../sass/main.scss */
.big-img-right, #section-1 #presentation .pic {
  width: 65%;
  float: right;
}

/* line 64, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 70, ../sass/main.scss */
header {
  z-index: 1;
  position: absolute;
  width: 100%;
}
/* line 74, ../sass/main.scss */
header #logo {
  width: 11.5%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 118px;
}
/* line 80, ../sass/main.scss */
header ul {
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 33.5%;
}
/* line 85, ../sass/main.scss */
header ul li {
  margin-right: 75px;
}
/* line 88, ../sass/main.scss */
header ul li:nth-child(3) a, header ul li:nth-child(4) a, header ul li:nth-child(5) a {
  color: white;
}

/* line 94, ../sass/main.scss */
#fixed-nav {
  z-index: 3;
  position: fixed;
  top: 160px;
  left: 50px;
  height: 330px;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 50%;
}
/* line 105, ../sass/main.scss */
#fixed-nav img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 110, ../sass/main.scss */
#fixed-nav img:nth-child(1) {
  margin-bottom: 29px;
}
/* line 113, ../sass/main.scss */
#fixed-nav img:nth-child(2) {
  margin-bottom: 10px;
}
/* line 116, ../sass/main.scss */
#fixed-nav div[class="vr"] {
  height: 32px;
  width: 1px;
  background-color: #b8a47e;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
}
/* line 122, ../sass/main.scss */
#fixed-nav span {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 14px;
}
/* line 128, ../sass/main.scss */
#fixed-nav span a {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  color: #878787;
}
/* line 134, ../sass/main.scss */
#fixed-nav .active-anchor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 65px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #000;
  font-size: 33px;
  font-weight: normal;
  box-shadow: 5px 5px 30px 5px #dbdddf;
}

/* line 149, ../sass/main.scss */
#section-1 {
  height: 1930px;
}
/* line 152, ../sass/main.scss */
#section-1 #presentation .pic {
  margin-bottom: 160px;
}
/* line 156, ../sass/main.scss */
#section-1 #presentation .text-container {
  position: absolute;
  top: 265px;
  right: 42.5%;
}
/* line 157, ../sass/main.scss */
#section-1 #presentation .text-container h2, #section-1 #presentation .text-container p {
  color: #292929;
}
/* line 163, ../sass/main.scss */
#section-1 #presentation .text-container a {
  color: #baa782;
  padding-left: 1%;
}
/* line 164, ../sass/main.scss */
#section-1 #presentation .text-container a .hr {
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: #baa782;
  margin-bottom: 4.5px;
  margin-right: 10px;
}
/* line 175, ../sass/main.scss */
#section-1 #voyager-daypack {
  position: relative;
}
/* line 180, ../sass/main.scss */
#section-1 #voyager-daypack .text-container {
  position: absolute;
  left: 43%;
  top: 21%;
  width: 45%;
  height: 55%;
  border: 2px solid #baa782;
}
/* line 187, ../sass/main.scss */
#section-1 #voyager-daypack .text-container h2 {
  position: absolute;
  top: 20%;
  left: -33%;
}
/* line 192, ../sass/main.scss */
#section-1 #voyager-daypack .text-container i {
  text-transform: uppercase;
  font-size: 17px;
  position: absolute;
  top: 48%;
  left: 19%;
}
/* line 199, ../sass/main.scss */
#section-1 #voyager-daypack .text-container p {
  width: 39%;
  height: 65.5%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 12px;
  line-height: 33px;
  word-spacing: 3px;
  color: #a7a7a7;
  float: right;
}
/* line 212, ../sass/main.scss */
#section-1 #voyager-daypack .text-container h2, #section-1 #voyager-daypack .text-container i {
  color: #fff;
}
/* line 215, ../sass/main.scss */
#section-1 #voyager-daypack .text-container .go-down {
  position: absolute;
  bottom: -29%;
  right: 18%;
  background-color: #fff;
  width: 20%;
  height: 75px;
}
/* line 222, ../sass/main.scss */
#section-1 #voyager-daypack .text-container .go-down img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
/* line 231, ../sass/main.scss */
#section-1 .swiper-container {
  margin-top: 200px;
  width: 96.5%;
  height: 475px;
}
/* line 236, ../sass/main.scss */
#section-1 .swipper-slide {
  text-align: center;
}

/* line 241, ../sass/main.scss */
#section-2 {
  height: 1335px;
  background-color: #ededed;
}

/* line 246, ../sass/main.scss */
#section-3 {
  height: 2040px;
  background-color: #fff;
}

/* line 251, ../sass/main.scss */
footer {
  background-color: #ededed;
  height: 185px;
}
